/* LoadingSpinner.css */
.loading-text {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
  color: white;
}

.loading-text::before {
  content: "Loading...";
}

@keyframes l1 {
  to { opacity: 0; }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 139);
  display: flex;
  flex-direction: column;      
  justify-content: center;     
  align-items: center;
  z-index: 9999;
  gap: 20px;
}

.spinner-box {
  width: 40px;
  aspect-ratio: 1;
  color: #15ff00ff;
  position: relative;
  background:
    conic-gradient(from 134deg at top, currentColor 92deg, #0000 0) top,
    conic-gradient(from -46deg at bottom, currentColor 92deg, #0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.spinner-box::before {
  content: '';
  position: absolute;
  inset: 0;
  --g: currentColor 14.5px, #0000 0 calc(100% - 14.5px), currentColor 0;
  background:
    linear-gradient(45deg, var(--g)),
    linear-gradient(-45deg, var(--g));
  animation: l7 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l7 {
  33% { inset: -10px; transform: rotate(0deg); }
  66% { inset: -10px; transform: rotate(90deg); }
  100% { inset: 0; transform: rotate(90deg); }
}