/* src/index.css */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* 防止横向滚动 */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 全屏覆盖的加载层 */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 21, 255); /* 或你的背景色 */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out, visibility 1s;
  z-index: 9999;
}

.loading-overlay.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* 主内容区域 */
.app-content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1.5s ease-in-out, visibility 1s;
}

.app-content.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} 