/* 搜索框容器样式 */
.search-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative; /* 使输入框和按钮可以相对定位 */
  }
  
  /* 搜索引擎切换样式 */
  .engine-switch {
    height: 50px; /* 统一高度 */
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    border: 5px solid #11c9aa;
  }
  
  .engine-btn {
    padding: 8px 15px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif; /* 设置字体 */
    font-weight: bold; 
    transition: all 0.3s ease;
  }
  
  .engine-btn.active {
    background-color: #4a90e2;
    color: white;
    font-weight: bold; /* 激活时加粗字体 */
  }
  
  /* 搜索表单样式 */
  #search-form {
    display: flex;
    flex-grow: 1;
  }
  
  /* 搜索输入框样式 */
  .search-input {
    height: 50px; /* 统一高度 */
    width: 140%;
    padding: 10px 15px;
    border: 5px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    padding-right: 50px; /* 为按钮腾出空间 */
    transition: all 0.3s ease;
    position: relative;
  }
  
  .search-input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
  }
  
  /* 搜索按钮样式 */
  .search-button {
    width: 50px; /* 设置按钮宽度 */
    height: 50px; /* 设置按钮高度 */
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 50%; /* 圆形按钮 */
    cursor: pointer;
    font-size: 20px; /* 适当增加字体大小 */
    transition: background-color 0.3s ease;
    display: flex; /* 使用 flex 使图标居中 */
    justify-content: center;
    align-items: center;
    position: absolute; /* 绝对定位 */
    right: 15px; /* 自动贴近右侧 */
    top: 50%; /* 垂直居中 */
    transform: translateY(-50%); /* 精确垂直居中 */
    z-index: 1; /* 确保按钮在输入框之上 */
  }
  
  .search-button:hover {
    background-color: #357abd;
  }

.icon-container {
    display: flex;
    gap: 50px; /* Spacing between icons */
    justify-content: center; /* Center icons horizontally */
    align-items: center; /* Center icons vertically */
    padding-bottom: 20px;
}

.icon-link {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow around the icon */
    transition: transform 0.3s ease;
    background-color: 0.3s ease;
    backdrop-filter: blur(10px);                         /* 毛玻璃效果核心属性 */
    background-color: rgba(255, 255, 255, 0.4);          /* 背景设置 - 半透明背景是毛玻璃效果的关键 */
}

.icon-link:hover {
    transform: scale(1.2); /* Scale effect on hover */
    background-color: #31354d; /* Change background on hover */
}

.icon-link img {
    width: 80px;
    height: 80px;
}